
body {
    background-color: #F6F5F1;
    border-style: solid;
    border-color: #FA7FC1;
    border-radius: 20px;
    border-width: 1px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-family: "IBM_regular";
  font-size: 20px;
  font-weight: lighter;
  color: #FA7FC1;
}

.nav-item{
    border: #FA7FC1;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    width: 180px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FA7FC1;
}

a:visited{
    color: #FA7FC1;
}

#active{
    color: #F6F5F1;
}

#active_btn{
    background-color: #FA7FC1;
}

.nav-item:hover{ 
    border-color: #90C58B;
}

img{
    width: 100%;
    top: 0%;
    left: 0%;
}

hr{
    height: 1px;
    background-color: #FA7FC1; 
    border: 0 none;
}

h1, h2, h3, h4, h5{
    color: #FA7FC1;
    font-family: "IBM_semibold";
    margin-top: 40px;
}

h1{
    font-size: 34px;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 24px;
}

h5{
    font-size: 20px;
}

p{
    font-family: "IBM_regular";
    color: #3E86BA;
    line-height: 200%;
}

p.folder_tekst{
    text-align: center;
}

.tema{
    margin-top: 40px;
}

a.tema_link:hover{
    color: #90C58B;
}

.projekter_link:hover{
content: url(../billeder/alle_projekter_link_hover.svg);
}

.instagram_link:hover{
    content: url(../billeder/instagram_hover.svg);
}

.folder:hover{
    content: url(../billeder/folder_hover.svg);
}

.t2_google_hover:hover{
    content: url(../billeder/t2_google_hover.svg);
}
.t3_google_hover:hover{
    content: url(../billeder/t3_google_hover.svg);
}
.t4_google_hover:hover{
    content: url(../billeder/t4_google_hover.svg);
}
.t5_google_hover1:hover{
    content: url(../billeder/t5_google_hover1.svg);
}
.t5_google_hover2:hover{
    content: url(../billeder/t5_google_hover2.svg);
}

@font-face {
    font-family: "IBM_semibold";
    src: url(font/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf);
  }

  @font-face {
    font-family: "IBM_regular";
    src: url(font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  }